@use '@angular/material' as mat;

/* LIGHT THEMES */

$blue-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$rose-palette,
  ),
));

$green-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
));

$red-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$magenta-palette,
  ),
));

/* DARK THEMES */

$blue-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$rose-palette,
  ),
));

$green-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
  ),
));

$red-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$magenta-palette,
  ),
));

/* APPLY CLASSES */

.theme-blue { @include mat.all-component-themes($blue-light);@include mat.system-level-colors($blue-light); }
.theme-green { @include mat.all-component-themes($green-light); @include mat.system-level-colors($green-light);}
.theme-red { @include mat.all-component-themes($red-light);@include mat.system-level-colors($red-light); }

.theme-blue.dark-mode { @include mat.all-component-themes($blue-dark); @include mat.system-level-colors($blue-dark);}
.theme-green.dark-mode { @include mat.all-component-themes($green-dark); @include mat.system-level-colors($green-dark);}
.theme-red.dark-mode { @include mat.all-component-themes($red-dark);@include mat.system-level-colors($red-dark); }

html, body {
  height: 100%;
  margin: 0;
}
body {
  cursor: none;
}

.cursor-outer {
  width: 30px;
  height: 30px;
  border: 2px solid #ff9800;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.cursor-inner {
  width: 8px;
  height: 8px;
  background: #ff9800;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
body{
  cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--mat-app-background-color);
    color: var(--mat-app-text-color);
}